<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levigo.Carebase">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_blue_house_on_white"
        android:label="Carebase"
        android:roundIcon="@mipmap/ic_launcher_blue_house_on_white_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         <service
                android:name="com.levigo.Carebase.MyFirebaseMessagingService"
                android:enabled="true"
                android:exported="true">
         <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
         </intent-filter>
         </service>
         <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
         <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="Carebase" />
        <activity android:name="com.levigo.Carebase.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.levigo.Carebase.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.levigo.Carebase.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.levigo.Carebase.LoginActivity" />
        </activity>
        <activity android:name="com.levigo.Carebase.ResetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.levigo.Carebase.LoginActivity" />
        </activity>
        <activity android:name="com.levigo.Carebase.NetworkActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.levigo.Carebase.MainActivity" />
        </activity>
        <activity android:name="com.levigo.Carebase.FilterActivity" />
    </application>

</manifest>