<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.getcarebase.carebase">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_blue_house_on_white"
        android:label="Carebase"
        android:roundIcon="@mipmap/ic_launcher_blue_house_on_white_round"
        android:supportsRtl="true"
        android:theme="@style/CarebaseAppTheme"
        tools:replace="android:icon, android:label, android:roundIcon, android:theme">
        <service android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Carebase" />

        <activity
            android:name=".activities.Main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.Main.AddProcedureActivity"
            android:parentActivityName=".activities.Main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.Login.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Main.FilterActivity" />
    </application>
</manifest>
